
p { color: blue; }           
#one { color: green; }       
.two { color: red; }         
h1, h2 { color: purple; }    
* { font-family: Arial; }    


div p { color: brown; }      
div > span > p { color: orange; } 
h3 + p { color: teal; }      
h3 ~ p { font-style: italic; }


a:hover { color: red; }


p::first-letter { color: darkred; font-size: 20px; }
