/* Simple Selectors */
p { color: blue; }            /* Element */
#one { color: green; }        /* ID */
.two { color: red; }          /* Class */
h1, h2 { color: purple; }     /* Group */
* { font-family: Arial; }     /* Universal */

/* Combinator Selectors */
div p { color: brown; }       /* Descendant */
div > span > p { color: orange; }  /* Child */
h3 + p { color: teal; }       /* Adjacent Sibling */
h3 ~ p { font-style: italic; }/* General Sibling */

/* Pseudo-class */
a:hover { color: red; }

/* Pseudo-element */
p::first-letter { color: darkred; font-size: 20px; }
